# Database (PostgreSQL en Neon.tech)
DATABASE_URL=postgresql://user:password@host/database?sslmode=require

# NextAuth.js (generar con: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))")
AUTH_SECRET=your-secret-here
AUTH_URL=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000
